<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>
        <package name="com.baafoo.core.model"/>
        <package name="com.baafoo.server.mapper.entity"/>
    </typeAliases>

    <mappers>
        <mapper resource="mappers/RuleMapper.xml"/>
        <mapper resource="mappers/EnvironmentMapper.xml"/>
        <mapper resource="mappers/SceneMapper.xml"/>
        <mapper resource="mappers/RecordingMapper.xml"/>
        <mapper resource="mappers/AgentMapper.xml"/>
    </mappers>
</configuration>
